=begin
#IONOS DBaaS MongoDB REST API

#With IONOS Cloud Database as a Service, you have the ability to quickly set up and manage a MongoDB database. You can also delete clusters, manage backups and users via the API.   MongoDB is an open source, cross-platform, document-oriented database program. Classified as a NoSQL database program, it uses JSON-like documents with optional schemas.  The MongoDB API allows you to create additional database clusters or modify existing ones. Both tools, the Data Center Designer (DCD) and the API use the same concepts consistently and are well suited for smooth and intuitive use. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.2.1-SNAPSHOT

=end

require 'cgi'

module IonoscloudDbaasMongo
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a MongoDB User by ID
    # Deletes a MongoDB user specified by its ID.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param username [String] The authentication username.
    # @param [Hash] opts the optional parameters
    # @return [User]
    def clusters_users_delete(cluster_id, username, opts = {})
      data, _status_code, _headers = clusters_users_delete_with_http_info(cluster_id, username, opts)
      data
    end

    # Delete a MongoDB User by ID
    # Deletes a MongoDB user specified by its ID.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param username [String] The authentication username.
    # @param [Hash] opts the optional parameters
    # @return [Array<(User, Integer, Hash)>] User data, response status code and response headers
    def clusters_users_delete_with_http_info(cluster_id, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.clusters_users_delete ...'
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling UsersApi.clusters_users_delete"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.clusters_users_delete"
      end
      # resource path
      local_var_path = '/clusters/{clusterId}/users/{username}'.sub('{' + 'clusterId' + '}', CGI.escape(cluster_id.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'User'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.clusters_users_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#clusters_users_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a MongoDB User by ID
    # Retrieves the MongoDB user identified by the username.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param username [String] The authentication username.
    # @param [Hash] opts the optional parameters
    # @return [User]
    def clusters_users_find_by_id(cluster_id, username, opts = {})
      data, _status_code, _headers = clusters_users_find_by_id_with_http_info(cluster_id, username, opts)
      data
    end

    # Get a MongoDB User by ID
    # Retrieves the MongoDB user identified by the username.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param username [String] The authentication username.
    # @param [Hash] opts the optional parameters
    # @return [Array<(User, Integer, Hash)>] User data, response status code and response headers
    def clusters_users_find_by_id_with_http_info(cluster_id, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.clusters_users_find_by_id ...'
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling UsersApi.clusters_users_find_by_id"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.clusters_users_find_by_id"
      end
      # resource path
      local_var_path = '/clusters/{clusterId}/users/{username}'.sub('{' + 'clusterId' + '}', CGI.escape(cluster_id.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'User'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.clusters_users_find_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#clusters_users_find_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all Cluster Users
    # Retrieves a list of MongoDB users.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param [Hash] opts the optional parameters
    # @return [UsersList]
    def clusters_users_get(cluster_id, opts = {})
      data, _status_code, _headers = clusters_users_get_with_http_info(cluster_id, opts)
      data
    end

    # Get all Cluster Users
    # Retrieves a list of MongoDB users.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersList, Integer, Hash)>] UsersList data, response status code and response headers
    def clusters_users_get_with_http_info(cluster_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.clusters_users_get ...'
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling UsersApi.clusters_users_get"
      end
      # resource path
      local_var_path = '/clusters/{clusterId}/users'.sub('{' + 'clusterId' + '}', CGI.escape(cluster_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.clusters_users_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#clusters_users_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a MongoDB User by ID
    # Patches a MongoDB user specified by its ID.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param username [String] The authentication username.
    # @param patch_user_request [PatchUserRequest] Part of the MongoDB user which should be modified.
    # @param [Hash] opts the optional parameters
    # @return [User]
    def clusters_users_patch(cluster_id, username, patch_user_request, opts = {})
      data, _status_code, _headers = clusters_users_patch_with_http_info(cluster_id, username, patch_user_request, opts)
      data
    end

    # Patch a MongoDB User by ID
    # Patches a MongoDB user specified by its ID.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param username [String] The authentication username.
    # @param patch_user_request [PatchUserRequest] Part of the MongoDB user which should be modified.
    # @param [Hash] opts the optional parameters
    # @return [Array<(User, Integer, Hash)>] User data, response status code and response headers
    def clusters_users_patch_with_http_info(cluster_id, username, patch_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.clusters_users_patch ...'
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling UsersApi.clusters_users_patch"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling UsersApi.clusters_users_patch"
      end
      # verify the required parameter 'patch_user_request' is set
      if @api_client.config.client_side_validation && patch_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'patch_user_request' when calling UsersApi.clusters_users_patch"
      end
      # resource path
      local_var_path = '/clusters/{clusterId}/users/{username}'.sub('{' + 'clusterId' + '}', CGI.escape(cluster_id.to_s)).sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'User'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.clusters_users_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#clusters_users_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create MongoDB User
    # Creates a MongoDB user. 
    # @param cluster_id [String] The unique ID of the cluster.
    # @param user [User] The user to be created.
    # @param [Hash] opts the optional parameters
    # @return [User]
    def clusters_users_post(cluster_id, user, opts = {})
      data, _status_code, _headers = clusters_users_post_with_http_info(cluster_id, user, opts)
      data
    end

    # Create MongoDB User
    # Creates a MongoDB user. 
    # @param cluster_id [String] The unique ID of the cluster.
    # @param user [User] The user to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(User, Integer, Hash)>] User data, response status code and response headers
    def clusters_users_post_with_http_info(cluster_id, user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.clusters_users_post ...'
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling UsersApi.clusters_users_post"
      end
      # verify the required parameter 'user' is set
      if @api_client.config.client_side_validation && user.nil?
        fail ArgumentError, "Missing the required parameter 'user' when calling UsersApi.clusters_users_post"
      end
      # resource path
      local_var_path = '/clusters/{clusterId}/users'.sub('{' + 'clusterId' + '}', CGI.escape(cluster_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user)

      # return_type
      return_type = opts[:debug_return_type] || 'User'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.clusters_users_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#clusters_users_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
